#container-create-task {
  display: flex;
  flex-direction: column;
  position: fixed;

  justify-content: center;
  align-items: center;

  gap: 12%;

  height: 5rem;
  width: 10rem;

  padding: 10px;

  bottom: 1rem;
  right: 0.5rem;

  background-color: #77c7a0;
  border-radius: 15px;
  border: 2px solid #3e6854;
}
#create-task {
  height: 2rem;
  width: 10rem;

  font-size: 120%;

  border-radius: 7px;
  border: 2px solid #3e6854;
  background-color: #96eec4;
  color: #1b3c2c;
}
#task-name-input {
  height: 2rem;
  width: 10rem;

  padding-left: 2px;
  box-sizing: border-box;

  font-size: 90%;
  outline: none;

  border-radius: 7px;
  border: 2px solid #3e6854;
  background-color: #9de9c4;
}
#task-name-input:focus {
  outline: none;
}
#task-name-input::placeholder {
  color: #1b3c2c;
}

@media (min-width: 2560px) {
  #container-create-task {
    height: 9rem;
    width: 18rem;
    font-size: 23px;
    padding: 5px;
  }
  #task-name-input {
    padding-left: 4px;
  }
  #create-task,
  #task-name-input {
    height: 2.5rem;
    width: 15rem;
  }
}
